<%- include('header') -%>

<h1 class="title">Fræðslumyndbandasíðan</h1>
<div class="list">
  <div class="list__grid">
    <div class="list__row">
    <% data.categories.forEach(function(category) { %>
      <div class="list_title">
	<h2 class="list__category">
	  <%= category.title %>
	</h2>
      </div>
      <div class="list__video">
	<% for(var i = 0; i < category.videos.length; i++) {%>
	  <% const video = data.videos[i]; %> 
	  <div class="list__col">
	    <a href='/<%=video.id%>' class='item'>
	      <div class="item__poster">
		<img src=<%= video.poster %> alt="Video thumbnail" class = "item__image">
		<span> <% getDuration(video.duration); %> </span>
	      </div>
	      <div class="item__text">
		<h4 class="item__title"><%= video.title %></h4>
		<p class="item__description"> 
		  Fyrir 
		  <%- getTime(video.created) -%>
		  síðan.
		</p> 
	      </div>
	    </a>
	  </div>
	<% } %>
      </div>
    <hr>
    <% }); %>
    </div>
  </div>
</div>

<%- include('footer') -%>
