<%- include('header') -%>

<h1 class="title">
<%- video.title -%>
</h1>

<div class="video__container">
  <div class="video__player">
    <video controls>
      <source src=<%= video.video %>>
    </video>
  </div>
  <p>
    <%=video.description%>
  </p>
  <div class="video__related">
    <% related.forEach(function(relatedVideo) { %>
      <div class="item">
	<a href='/<%=relatedVideo.id%>' class='item'>
	  <div class="item__poster">
	    <img src=<%= relatedVideo.poster %> alt="Video thumbnail" class="item__image">
	  </div>
	  <div class="item__text">
	    <h4 class="item__title"><%= relatedVideo.title %></h4>
	    <p class=item__created> 
	      Fyrir 
	      <%- getTime(relatedVideo.created) -%>
	      síðan.
	      </p> 
	  </div>
	</a>
      </div>
    <% }); %>
  </div>
</div>
<hr></hr>
<a href='/'>Til baka</a>

<%- include('footer') -%>
